*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

html{

    background-color: white;
    font-family: sans-serif;
    font-size: 18px;
    scroll-behavior: smooth;
    text-rendering: optimizeLegibility;

    color: black;
}


/**********
** Navbar
**********/
nav ul{
    margin:20px 50px;
    padding-top:20px;
    display:flex;
    position:absolute;
    left:40%;
    justify-content: space-between;
}

nav ul li{
    list-style: none;
}

nav ul li a{
   text-decoration: none;
   color:orange;
}

/**********
** header 
**********/
header{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./background-img/elazig-main.jpg');
    background-position: 50% 0%;
    height: 70vh;
    width: auto;
    position: relative;
    overflow: hidden;
}

.words{
    color:orange;
}

.anim-container{
    position:absolute;
    top:40%;
    left:45%;
    margin-left: -100px;
    margin-top: -25px;
    color:white;
}

.anim-container p{
    font-weight: bold;
    font-size: 25px;
    letter-spacing: 2px;   
}

/******
** City Intro
*******/

.introduction{
    margin:50px 50px;
    text-align:justify;
}

.slider img{
    height:400px;
}

.map{
    margin:50px 50px;
}

#map-container{
    position: absolute;
    
}

.map-responsive{
    overflow:hidden;
    padding-bottom:50%;
    position:relative;
    height:0;
}
.map-responsive iframe{
    left:0;
    top:0;
    height:60%;
    width:100%;
    position:absolute;
}